/* reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, input,
textarea, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }
  a img {
    border: 0; }

textarea {
  resize: none; }

* {
  outline: none; }

footer, header, aside, nav, menu, video, audio, time, section, article {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block; }

aside {
  text-align: right; }

time {
  cursor: help; }

/* colors */
/* shadows */
@font-face {
  src: url("/fonts/awconquerorcarved-one.otf");
  font-family: AwconQuerorCarved;
  font-style: normal;
  src: local("AwconQuerorCarved"), url("/fonts/awconquerorcarved-one.otf") format("truetype"); }

/* button */
/* master */
html {
  background: #e4e4e4;
  height: 100%; }

html, html a {
  color: #666666; }

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  background: url(/images/backgrounds/line_top.png) no-repeat center top;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.1); }
  body.without-text-shadow * {
    text-shadow: none !important; }

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  min-height: 100%; }
  #container > .hfooter {
    height: 70px; }

/* header */
#container > header {
  position: relative;
  background: black url(/images/backgrounds/carbon.png);
  box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 0.1); }
  #container > header > section, #container > header > aside {
    height: 60px; }
    #container > header > section > *, #container > header > aside > * {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      vertical-align: top; }
    #container > header > section > menu, #container > header > aside > menu {
      padding-left: 21px;
      padding-right: 20px;
      background: url(/images/separators/header.png) no-repeat left top; }
  #container > header > section > h1 {
    width: 176px;
    height: 60px; }
    #container > header > section > h1 > a {
      display: block;
      height: 100%;
      background: url(/images/icons/logo.png) no-repeat center;
      text-indent: -99999px;
      opacity: 0.9;
      -moz-opacity: 0.9;
      filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)"; }
      #container > header > section > h1 > a:hover {
        opacity: 1;
        -moz-opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
  #container > header > section > menu {
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px; }
    #container > header > section > menu > a {
      color: #999999;
      font-family: AwconQuerorCarved, Arial;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none; }
      #container > header > section > menu > a:hover {
        text-decoration: underline; }
      #container > header > section > menu > a ~ a {
        margin-left: 30px; }
  #container > header > section + aside {
    margin-top: -60px; }
  #container > header > aside > menu {
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px; }
    #container > header > aside > menu > .button {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      vertical-align: top;
      height: 20px;
      line-height: 18px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: AwconQuerorCarved, Arial;
      text-transform: uppercase;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -khtml-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
      opacity: 0.95;
      -moz-opacity: 0.95;
      filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=95)";
      color: #fffcfc;
      background: #999999; }
      #container > header > aside > menu > .button:hover {
        opacity: 1;
        -moz-opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
      #container > header > aside > menu > .button.is-active {
        margin-top: 1px;
        height: 19px;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
  #container > header > aside > p {
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-transform: uppercase; }
    #container > header > aside > p > a {
      font-family: AwconQuerorCarved, Arial;
      font-size: 14px;
      color: white;
      text-decoration: none; }
      #container > header > aside > p > a:hover {
        text-decoration: underline; }
  #container > header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    top: 100%;
    margin-top: 1px;
    background: url(/images/backgrounds/header_shadow.png) no-repeat; }

/* deals */
#container #deals {
  position: relative;
  margin-top: 30px; }
  #container #deals > .deals {
    padding: 0; }
    #container #deals > .deals > li {
      position: absolute;
      width: 325px;
      height: 310px;
      top: 53px;
      left: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; }
      #container #deals > .deals > li > img {
        display: block;
        width: 100%;
        height: 100%; }
      #container #deals > .deals > li.next {
        left: 100%;
        margin-left: -325px; }
  #container #deals > article {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 648px;
    border: 1px solid #d9d9d6;
    background: white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05); }
    #container #deals > article > * {
      padding-left: 9px;
      padding-right: 9px; }
    #container #deals > article > menu {
      padding: 0; }
      #container #deals > article > menu > .button {
        position: absolute;
        width: 40px;
        height: 150px;
        top: 50px;
        left: -41px;
        background: #323232 url(/images/arrows/prev.png) no-repeat center;
        text-indent: -99999px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
        opacity: 0.95;
        -moz-opacity: 0.95;
        filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=95)"; }
        #container #deals > article > menu > .button:hover {
          opacity: 1;
          -moz-opacity: 1;
          filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
        #container #deals > article > menu > .button:before {
          content: "";
          position: absolute;
          width: 9px;
          height: 100%;
          top: 0;
          left: 0;
          background: url(/images/gradients/arrows.png) repeat-y top right; }
        #container #deals > article > menu > .button.is-active {
          top: 51px; }
        #container #deals > article > menu > .button.is-working {
          background-image: url(/images/icons/loading.gif) !important; }
        #container #deals > article > menu > .button.prev:before {
          left: 100%;
          margin-left: -9px;
          background-position: top left; }
        #container #deals > article > menu > .button.next {
          left: 100%;
          margin-left: 1px;
          background-image: url(/images/arrows/next.png); }
    #container #deals > article > header {
      padding-top: 3px;
      padding-bottom: 9px;
      text-transform: uppercase; }
      #container #deals > article > header > h2 {
        font-family: AwconQuerorCarved, Arial;
        color: #999999; }
        #container #deals > article > header > h2 + p {
          margin-top: -20px;
          color: #cccccc; }
          #container #deals > article > header > h2 + p > span {
            padding-left: 12px;
            background: url(/images/icons/check.png) no-repeat left center; }
      #container #deals > article > header > h3 {
        line-height: 22px;
        font-family: AwconQuerorCarved, Arial;
        font-size: 19px;
        color: #272727; }
        #container #deals > article > header > h3 + p {
          margin-top: -22px;
          font-size: 19px;
          color: #666666; }
          #container #deals > article > header > h3 + p > span {
            padding-left: 20px;
            background: url(/images/icons/box.png) no-repeat left center; }
      #container #deals > article > header > p {
        font-family: AwconQuerorCarved, Arial;
        text-align: right; }
        #container #deals > article > header > p > span {
          zoom: 1;
          display: inline;
          display: -moz-inline-box;
          display: inline-block;
          *display: inline;
          vertical-align: top; }
    #container #deals > article > section {
      border-top: 1px solid #d9d9d6;
      padding-top: 9px;
      padding-bottom: 10px; }
      #container #deals > article > section > * {
        zoom: 1;
        display: inline;
        display: -moz-inline-box;
        display: inline-block;
        *display: inline;
        vertical-align: top; }
      #container #deals > article > section > .cost {
        width: 240px; }
        #container #deals > article > section > .cost > .ticket {
          position: relative;
          padding-left: 10px;
          padding-right: 10px;
          margin-left: 3px;
          margin-right: 3px;
          background: #e4e4d8; }
          #container #deals > article > section > .cost > .ticket > * {
            height: 49px; }
          #container #deals > article > section > .cost > .ticket > p {
            line-height: 50px;
            font-family: AwconQuerorCarved, Arial;
            font-size: 30px;
            color: #272727;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
            #container #deals > article > section > .cost > .ticket > p > span {
              zoom: 1;
              display: inline;
              display: -moz-inline-box;
              display: inline-block;
              *display: inline;
              vertical-align: top;
              font-size: 23px;
              color: #666666;
              margin-right: 5px; }
            #container #deals > article > section > .cost > .ticket > p + aside {
              margin-top: -49px; }
          #container #deals > article > section > .cost > .ticket > aside > * {
            zoom: 1;
            display: inline;
            display: -moz-inline-box;
            display: inline-block;
            *display: inline;
            vertical-align: top; }
          #container #deals > article > section > .cost > .ticket > aside > menu {
            height: 30px;
            padding-top: 9px;
            padding-bottom: 10px;
            padding-left: 10px;
            border-left: 1px solid #d7d7cc; }
            #container #deals > article > section > .cost > .ticket > aside > menu > .button {
              zoom: 1;
              display: inline;
              display: -moz-inline-box;
              display: inline-block;
              *display: inline;
              vertical-align: top;
              height: 30px;
              line-height: 28px;
              padding-left: 10px;
              padding-right: 10px;
              font-family: AwconQuerorCarved, Arial;
              text-transform: uppercase;
              -moz-border-radius: 3px;
              -o-border-radius: 3px;
              -ms-border-radius: 3px;
              -khtml-border-radius: 3px;
              -webkit-border-radius: 3px;
              border-radius: 3px;
              box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
              -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
              -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
              opacity: 0.95;
              -moz-opacity: 0.95;
              filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=95)";
              font-size: 16px;
              color: white;
              background: #669900; }
              #container #deals > article > section > .cost > .ticket > aside > menu > .button:hover {
                opacity: 1;
                -moz-opacity: 1;
                filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
              #container #deals > article > section > .cost > .ticket > aside > menu > .button.is-active {
                margin-top: 1px;
                height: 29px;
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
                -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
          #container #deals > article > section > .cost > .ticket:before, #container #deals > article > section > .cost > .ticket:after {
            content: "";
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: -3px;
            background: url(/images/backgrounds/ticket.png) repeat-y left top; }
          #container #deals > article > section > .cost > .ticket:after {
            left: 100%;
            background-position: right top; }
        #container #deals > article > section > .cost > .time, #container #deals > article > section > .cost > time {
          line-height: 40px;
          font-family: AwconQuerorCarved, Arial; }
        #container #deals > article > section > .cost > .time {
          padding-left: 10px;
          padding-right: 10px;
          color: #999999;
          text-transform: uppercase; }
          #container #deals > article > section > .cost > .time + time {
            margin-top: -40px; }
        #container #deals > article > section > .cost > time {
          position: relative;
          padding-left: 15px;
          padding-right: 15px;
          color: #272727;
          font-size: 16px;
          text-align: right; }
        #container #deals > article > section > .cost > ul {
          border-top: 1px solid #e4e4d8;
          border-bottom: 1px solid #e4e4d8;
          text-align: center; }
          #container #deals > article > section > .cost > ul > li {
            zoom: 1;
            display: inline;
            display: -moz-inline-box;
            display: inline-block;
            *display: inline;
            vertical-align: top;
            width: 33%;
            height: 49px;
            font-family: AwconQuerorCarved, Arial; }
            #container #deals > article > section > .cost > ul > li > span {
              margin-top: 3px;
              display: block;
              font-size: 10px;
              color: #999999; }
            #container #deals > article > section > .cost > ul > li > b {
              margin-top: -3px;
              display: block;
              font-size: 19px;
              font-weight: normal;
              color: #666666; }
              #container #deals > article > section > .cost > ul > li > b > span {
                zoom: 1;
                display: inline;
                display: -moz-inline-box;
                display: inline-block;
                *display: inline;
                vertical-align: top;
                font-size: 16px;
                margin-left: 3px; }
                #container #deals > article > section > .cost > ul > li > b > span.right {
                  margin-left: 0;
                  margin-right: 3px; }
            #container #deals > article > section > .cost > ul > li ~ li {
              border-left: 1px dotted #e4e4d8; }
          #container #deals > article > section > .cost > ul + menu {
            margin-top: -1px; }
        #container #deals > article > section > .cost > menu {
          position: relative;
          height: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-top: 1px solid #e4e4d8;
          border-bottom: 1px solid #e4e4d8;
          text-align: center; }
          #container #deals > article > section > .cost > menu > .button {
            position: relative;
            z-index: 1;
            zoom: 1;
            display: inline;
            display: -moz-inline-box;
            display: inline-block;
            *display: inline;
            vertical-align: top;
            height: 20px;
            line-height: 18px;
            padding-left: 10px;
            padding-right: 10px;
            font-family: AwconQuerorCarved, Arial;
            text-transform: uppercase;
            -moz-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            -khtml-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
            opacity: 0.95;
            -moz-opacity: 0.95;
            filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=95)";
            color: white;
            background: #333333; }
            #container #deals > article > section > .cost > menu > .button:hover {
              opacity: 1;
              -moz-opacity: 1;
              filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
            #container #deals > article > section > .cost > menu > .button.is-active {
              margin-top: 1px;
              height: 19px;
              box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
              -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
              -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
          #container #deals > article > section > .cost > menu:before {
            content: "";
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 0;
            right: 0;
            background: url(/images/backgrounds/cost_shadow.png) repeat-y center top; }
        #container #deals > article > section > .cost > .link {
          margin-top: 5px;
          color: #272727;
          font-family: AwconQuerorCarved, Arial;
          padding-left: 15px;
          background: url(/images/icons/link.png) no-repeat left 5px;
          text-transform: uppercase; }
          #container #deals > article > section > .cost > .link + a {
            zoom: 1;
            display: inline;
            display: -moz-inline-box;
            display: inline-block;
            *display: inline;
            vertical-align: top;
            margin-top: -5px;
            margin-left: 15px;
            color: #666666;
            text-decoration: none; }
            #container #deals > article > section > .cost > .link + a:hover {
              text-decoration: underline; }
        #container #deals > article > section > .cost + .thumb {
          margin-left: 10px; }
      #container #deals > article > section > .thumb {
        width: 376px;
        height: 246px;
        border: 2px solid #e4e4d8; }
        #container #deals > article > section > .thumb > img {
          display: block;
          width: 100%;
          height: 100%; }
    #container #deals > article > .description {
      overflow: hidden;
      margin-top: 5px;
      padding-bottom: 15px; }
      #container #deals > article > .description > h4 {
        color: #272727;
        font-family: AwconQuerorCarved, Arial;
        font-size: 16px; }
      #container #deals > article > .description > .video {
        position: relative;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        width: 236px;
        height: 176px;
        border: 2px solid #e4e4d8;
        float: left;
        cursor: pointer;
        opacity: 0.95;
        -moz-opacity: 0.95;
        filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=95)"; }
        #container #deals > article > .description > .video:hover {
          opacity: 1;
          -moz-opacity: 1;
          filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
        #container #deals > article > .description > .video > img {
          display: block;
          width: 100%;
          height: 100%; }
        #container #deals > article > .description > .video:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: url(/images/icons/play.png) no-repeat center; }
      #container #deals > article > .description > p {
        line-height: 18px;
        margin-top: 10px; }

/* comments */
#container #comments {
  margin-top: 10px; }
  #container #comments > header {
    text-align: center; }
    #container #comments > header > * {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      vertical-align: top; }
    #container #comments > header > .button {
      position: relative;
      height: 28px;
      line-height: 28px;
      padding-left: 9px;
      padding-right: 9px;
      border: 1px solid #d1d1d1;
      background: #e4e4e4;
      font-family: AwconQuerorCarved, Arial;
      font-size: 16px;
      color: #999999;
      cursor: pointer;
      text-transform: uppercase; }
      #container #comments > header > .button > span {
        display: block;
        padding-left: 20px;
        background: url(/images/icons/comments.png) no-repeat left 10px; }
      #container #comments > header > .button:before {
        display: none;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white url(/images/icons/loading_white.gif) no-repeat center; }
      #container #comments > header > .button:hover {
        background: white; }
      #container #comments > header > .button.is-working:before {
        display: block; }
      #container #comments > header > .button.expanded {
        background: white;
        border-bottom-color: white; }
  #container #comments > section {
    margin-left: auto;
    margin-right: auto;
    width: 608px;
    margin-top: -1px;
    padding-top: 14px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 9px;
    border: 1px solid #d9d9d6;
    background: white; }
    #container #comments > section[hidden] {
      display: none; }

/* footer */
#container + footer {
  position: relative;
  margin-top: -50px; }
  #container + footer > section, #container + footer > aside {
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: black; }
    #container + footer > section > *, #container + footer > aside > * {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      vertical-align: top; }
  #container + footer > section > p {
    line-height: 50px;
    color: white;
    font-family: AwconQuerorCarved, Arial;
    font-size: 14px; }
  #container + footer > section > menu {
    height: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #262626; }
    #container + footer > section > menu > a {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      vertical-align: top;
      width: 24px;
      height: 24px;
      background: no-repeat;
      text-indent: -99999px;
      opacity: 0.9;
      -moz-opacity: 0.9;
      filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)"; }
      #container + footer > section > menu > a:hover {
        opacity: 1;
        -moz-opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
      #container + footer > section > menu > a ~ a {
        margin-left: 10px; }
    #container + footer > section > menu:first-child {
      padding-left: 0; }
  #container + footer > section + aside {
    margin-top: -50px; }
  #container + footer > aside > p {
    color: #404040;
    line-height: 50px; }
  #container + footer:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 250px;
    left: 0;
    top: 100%;
    margin-top: -250px;
    background: url(/images/backgrounds/line_bottom.png) no-repeat center bottom; }
