%footer
  %section<
    %p Follow us
    %menu<>
      = link_to 'Twitter', '#', :style => 'background-image: url(/images/icons/twitter.png);'
      = link_to 'Facebook', '#', :style => 'background-image: url(/images/icons/facebook.png);'
      = link_to 'Rss', '#', :style => 'background-image: url(/images/icons/rss.png);'
      = link_to 'Mail', '#', :style => 'background-image: url(/images/icons/mail.png);'
  %aside<
    %p> © 2011 Gamepon, Inc. All Rights Reserved.