%header
  %section<
    %h1>= link_to 'GamePon', '#'
    %menu<>
      = link_to 'Featured deals', '#'
      = link_to 'All deals', '#'
  %aside<
    %menu<>
      %a.button{:href => '#'} Refer a friend
    %p>= link_to 'Angelina jolie', '#'