/* master
$base: 12px
$footer: $baseline * 2.5

html
  :background #e4e4e4
  :height 100%
  :min-width $ninesixty_grid_width + $free_space
  
html, html a
  :color $light_black
  
body
  :position relative
  :padding
    :left $free_space / 2
    :right $free_space / 2
  :height 100%
  :min-height 100%
  :font
    :size $base
    :family Arial, Helvetica, sans-serif
  :line-height $baseline
  :background url(/images/backgrounds/line_top.png) no-repeat center top
  &:before
    :content ''
    :position absolute
    :height 5px
    :width 100%
    :top 0
    :left 0
    :background #000
    +opacity(0.1, true)
  &.without-text-shadow *
    :text
      :shadow none !important

#container
  :position relative
  +grid-container
  :min-height 100%
  > .hfooter
    :height $footer + $baseline